//Colors
$col-white: #ffffff;
$col-black: #000000;
$col-text: #303136;
$col-std-blue: #195ec8;
$col-std-btn-hover: #3051b0;
$col-btn-slider-hover: #41507f;
$col-light-blue: #f2f6fb;
$col-bg-jumbo: #f0f4fa;
$col-important: #f50018;
$col-gray: #97a6b7;
$col-light-gray: #e3e7ec;
$col-bg-subscrive: #58d6a7;
$col-course-new: #1db874;
$col-gold: #f9cb56;
$col-featured: #f09b23;


//Size
$header-height: 100px;