@use "./partials/variables" as *;
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/@fontsource/montserrat/index.css";

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    white-space: nowrap;
}

//COMMON
//Default font
body {
    font-family: "Montserrat", sans-serif;
    color: $col-text;
}

//UTILITIES
//Colors
.col-gray {
    color: $col-gray;
}

//Buttons


//Select
.ms_std-select {
    padding: 1rem;
    font-size: 0.8;

    &--transparent {
        text-decoration: none;
        // background-color: none;
        border: none;
    }
}