@use "./partials/variables" as *;
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/@fontsource/montserrat/index.css";
@import "node_modules/@fontsource/montserrat/900.css";
@import "node_modules/@fontsource/montserrat/500.css";
@import "node_modules/@fontsource/montserrat/300.css";
@import "node_modules/@fontsource/montserrat/200.css";

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    white-space: nowrap;
}

//COMMON
//Default font
body {
    font-family: "Montserrat", sans-serif;
    color: $col-text;
}

//UTILITIES
//Containers
.ms_container {
    max-width: 1320px;
    margin: 0 auto;
}

//Colors
.col-gray {
    color: $col-gray;
}

//Buttons
.ms_std-btn {
    // width: 100%;
    // height: 100%;
    color: $col-white;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1.3em 1.6em;
    text-transform: uppercase;
    background-color: $col-std-blue;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        background-color: $col-std-btn-hover;
    }
}

.ms_std-btn-rect {
    // width: 100%;
    // height: 100%;
    color: $col-white;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1rem 1rem;
    text-transform: uppercase;
    background-color: $col-std-blue;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $col-std-btn-hover;
    }
}

.ms_btn-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 50px;
    height: 50px;
    color: $col-gray;
    background-color: $col-white;
    border: 1px solid $col-gray;

    &:hover {
        color: $col-white;
        background-color: $col-btn-slider-hover;
    }
}

//Select
.ms_std-select {
    font-size: 0.8rem;
    appearance: none;
    border: none;
    background-color: $col-white;
    color: $col-gray;

    .ms_std-select::after {
        content: "\2304";
    }
}