@use "./partials/variables" as *;
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/@fontsource/montserrat/index.css";
@import "node_modules/@fontsource/montserrat/300.css";

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    white-space: nowrap;
}

//COMMON
//Default font
body {
    font-family: "Montserrat", sans-serif;
    color: $col-text;
}

//UTILITIES
//Containers
.ms_container {
    max-width: 1320px;
    margin: 0 auto;
}

//Colors
.col-gray {
    color: $col-gray;
}

//Buttons
.ms_std-btn {
    color: $col-white;
    font-size: 0.8rem;
    font-weight: 800;
    padding: 1.3em 1.6em;
    text-transform: uppercase;
    background-color: $col-std-blue;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
        background-color: $col-std-btn-hover;
    }
}


//Select
.ms_std-select {
    padding: 1rem;
    font-size: 0.8;

    &--transparent {
        text-decoration: none;
        // background-color: none;
        border: none;
    }
}